*{
    font-family: 'Kalam', cursive;
}

main{
    display: flex;
}

.caja1{
    display: inline-block;
    width: 300px;
    height: 100px;
    padding: 10px;
}

.caja2{
    display: inline-block;
    width: 1000px;
    height: 100px;
    padding: 10px 10px 10px 100px;
    font-size: 70px;
    border: 5px;
    border-color: chartreuse;
    position: absolute;

}

header{
    background-image: url(../img/fondo.avif);
    background-size: cover;
}

.cajanav {
    display: inline;
    width: 1000px;
    font-size: 50px;
    padding-left: 300px;
    list-style: none;

}

li{
    display: inline
}

.articulo{
    display: inline-block;
    width: 600px;
    background-color: rgb(247, 244, 106);
    border: 10px solid rgb(235, 134, 52);
    padding: 50px;
    margin: 20px;
    font-size: xx-large;
}



/*Estilos pagina registro*/

.articuloRegistro{
    display: inline-block;
    width: 500px;
    height: 300px;
    background-color: rgb(245, 170, 189);
    border: 10px solid rgb(238, 156, 156);
    padding: 50px;
    margin: 20px;
    font-size: large;
}

.listaVertical{
    display: block;
}

.registroPromo{
    display: inline-block;
    position: relative;
    left: 200px;
}


/*Estilos pagina que comemos hoy*/

.articuloQueComemos{
    display: inline-block;
    width: 600px;
    background-color: rgb(131, 245, 160);
    border: 10px solid rgb(15, 156, 58);
    padding: 50px;
    margin: 20px;
    font-size: xx-large;
}

/*Estilos pagina veggies*/

.listaReceta{
    display: block;
    list-style: decimal;
    color: black;
}

.recetas{
    display: inline-block;
    height: 1200px;
    width: 600px;
    background-color: white;
    border: 10px solid burlywood;
    padding: 50px;
    margin: 20px;
    positicion: absolute;
}