*{
    font-family: 'Kalam', cursive;
}





main{
    display: flex;
    justify-items: center;
    background-color: rgb(0, 0, 0);
}

a{
    color:black;
}


.logo{
    grid-area: logo;
    display: block;
}

.titulo{
    display: block;
    grid-area: titulo;
    width: 800px;
    height: 100px;
    padding: 10px 10px 10px 10px;
    position: relative;
    align-items: left;
    margin-top: 75px;
}

h1{
    font-size: 75px;
}




.cajanav {
    background-color: rgb(243, 229, 212);
    grid-area: cajanav;
    display: block;
    width: 730px;
    font-size: 100px;
    padding: 10px;
    font-size: xx-large;
    text-align: center;
    text-decoration: none;
}

li{
    display: inline;
    text-decoration: none;
}

.articulo{
    display: inline-block;
    width: 600px;
    background-color: rgb(247, 244, 106);
    border: 10px solid rgb(235, 134, 52);
    padding: 50px;
    margin: 20px;
    margin-left: 100px;
    font-size: xx-large;
}



/*Estilos pagina registro*/

.articuloRegistro{
    display: block;
    width: 500px;
    height: 650px;
    background-color: rgb(245, 170, 189);
    border: 10px solid rgb(238, 156, 156);
    padding: 50px;
    margin: 20px;
    font-size: large;
}

.listaVertical{
    display: block;
}

.registroPromo{
    display: block;
    width: 600px;
    height: 600px;
    margin-left: 100px;
    margin-top: 50px;
}


/*Estilos pagina que comemos hoy*/

.articuloQueComemos{
    display: inline-block;
    width: 700px;
    background-color: rgb(131, 245, 160);
    border: 10px solid rgb(15, 156, 58);
    padding: 50px;
    margin-left: 600px;
    font-size: xx-large;
}

/*Estilos pagina veggies*/

.listaReceta{
    display: block;
    list-style: decimal;
    color: black;
}

.recetas{
    display: inline-block;
    height: 1200px;
    width: 600px;
    background-color: white;
    border: 10px solid burlywood;
    padding: 50px;
    margin: 20px;
    overflow: scroll;
}

/*FOOTER*/

footer{
display:grid;
justify-items: center;
background-color: rgb(243, 229, 212);
}

.redes{
    margin: 30px;
}


/*GRID*/

header{
    display: grid;
    grid-template-areas:
    "logo titulo titulo titulo titulo"
    "cajanav cajanav cajanav cajanav cajanav";

    justify-items: center;

    background-image: url(../img/fondo.avif);

    background-size: cover;
    background-repeat: repeat-x;
}

@media (min-width: 320px) and (max-width: 576px){
    header{
        display: grid;
        grid-template-areas:
        "logo logo"
        "titulo titulo"
        "cajanav cajanav";
        justify-items: left;

    }

    .cajanav {
        grid-area: cajanav;
        display: block;
        width: 500px;
        padding: 10px;
        text-align: left;
        text-decoration: none;
        font-size: 40px;
    }

    .logo{
        grid-area: logo;
        display: block;
    }

    .titulo{
        display: block;
        grid-area: titulo;
        width: 800px;
        height: 100px;
        padding: 10px 10px 10px 10px;
        align-items: left;
        margin-top: 75px;
    }

    h1{
        font-size: 50px;
    }

}