/*FOOTER*/

footer{
    display: grid;
    grid-template-areas: 
    "tituloRedes tituloRedes tituloRedes tituloRedes tituloRedes"
    "contenedorRedes contenedorRedes contenedorRedes contenedorRedes contenedorRedes";
    font-family: 'Kalam', cursive;
    justify-items: map-get($estilos-genericos, centro);
    align-items:  map-get($estilos-genericos, centro);

    .tituloRedes{
        margin-top: 20px;
        display: inline-block;
        grid-area: tituloRedes;
    }

    .contenedorRedes{
        grid-area: contenedorRedes;
        justify-items: map-get($estilos-genericos, centro);
        align-items: map-get($estilos-genericos, centro);
    }
    
    .botonTwitter{
        display: inline-block;
        padding: 15px, 35px;
        margin: 50px, 30px;
        border-radius: 10px;
        border: none;
        a{
            font-size: large;
        }
    }

    .botonTwitter:hover{
        background: $color-botones;
        cursor: pointer;
    }

    .botonInstagram{
        @extend .botonTwitter;
    }

    .botonFacebook{
        @extend .botonTwitter;
    }

    .botonYoutube{
        @extend .botonTwitter;
    }

    .botonTiktok{
        @extend .botonTwitter;
    }





}