main{

    font-family: 'Kalam', cursive;
    display: flex;
    width: 100.5%;
    justify-items: map-get($estilos-genericos, centro);
    align-items: map-get($estilos-genericos, centro);
    background-color: map-get($estilos-genericos, color-primario);

    .articuloPagPrincipal{
        display: inline-block;
        width: 600px;
        background-color: $color-articulo;
        border: 10px solid $color-borde-articulo;
        padding: 50px;
        margin: 20px;
        font-size: xx-large;
    }

    /*PAGINA REGISTRO*/

    .articuloRegistro{
        display: block;
        width: 500px;
        height: 650px;
        background-color: $color-articulo;
        border: 10px solid rgb(238, 156, 156);
        padding: 50px;
        margin: 20px;
        font-size: large;

        .botonRegistro{
            padding: 15px, 35px;
            border-radius: 10px;
            border: none;
        }

        .botonRegistro:hover{
            background: $color-botones;
            cursor: pointer;
        }

        .listaVertical{
            display: block;
        }

    }

    .registroPromo{
        display: block;
        width: 600px;
        height: 600px;
        margin: 50px;

        a{
            color: map-get($estilos-genericos, color-secundario);
            text-decoration: none;
        }

    }


    /* PAGINA QUE COMEMOS*/
    .articuloQueComemos{
        display: inline-block;
        width: 700px;
        background-color: $color-articulo;
        border: 10px solid $color-borde-articulo;
        padding: 50px;
        margin-left: 600px;
        font-size: xx-large;
    }
    
        /*FORMATO RECETAS PARA VEGGIES Y POSTRES*/

    .recetas{
        display: inline-block;
        height: 1200px;
        width: 600px;
        background-color: map-get($estilos-genericos, color-secundario);
        border: 10px solid burlywood;
        padding: 50px;
        margin: 20px;
        overflow: scroll;

        .listaReceta{
            display: block;
            list-style: decimal;
            color: map-get($estilos-genericos, color-primario);
        }
    }
    

    a{
        color: map-get($estilos-genericos, color-primario);
    }
    
    
    
    li{
        display: inline;
        text-decoration: none;
    }
    



}
