
$color-botones: radial-gradient(circle, rgb(243, 229, 212),rgb(207, 186, 160));
$color-articulo: rgb(245, 170, 189);
$color-borde-articulo: rgb(15, 156, 58);
$ancho-full: 100%;

$estilos-genericos: (
    centro: center,
    color-primario: black,
    color-secundario: white
);